*.csv
*.mp3
*.raw
*.pth
*.zip
*.bak
*.safetensors
*.json
*.bin
__pycache__
/.idea/.gitignore
/.idea/AudioClassifier.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
